<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <title>Pengingat Booking</title>
  <style>
    * {
      font-family: 'Poppins', sans-serif;
      color: rgb(43, 43, 43)
    }
  </style>
</head>
<body>
  <h1>Jadwal Booking yang Kamu Pesan Sudah Dekat</h1> 
  <p>Pastikan kamu datang tepat waktu.</p>
  <table>
    <tr>
      <td>Jadwal</td>
    </tr>
    <tr>
      <td>Tanggal</td>
      <td>:</td>
      <td>{{tanggal}}</td>
    </tr>
    <tr>
      <td>Jam</td>
      <td>:</td>
      <td>{{jam}}</td>
    </tr>
    <tr>
      <td>Lapang</td>
    </tr>
    <tr>
      <td>Nama</td>
      <td>:</td>
      <td>{{namaLapang}}</td>
    </tr>
    <tr>
      <td>Harga</td>
      <td>:</td>
      <td>{{hargaLapang}}0</td>
    </tr>
    <tr>
      <td>Metode Pembayaran</td>
      <td>:</td>
      <td>{{paymentType}}</td>
    </tr>
  </table>
</body>
</html>